/**
 * This file is part of the atmCommentBundle package.
 *
 * (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

#atm_comment_thread, .atm_main_form_container, .atm_comment_comment_form{
    float: left; display: inline-block; width: 100%;
}

.atm_comment_comment_form{ margin-bottom: 20px !important;}



.atm_comment_thread_show {
    margin-top: 2em;
    padding: 1em 20px;
    width: 472px;
    background: #f0f0f0;
    box-shadow: 0 0 7px #bbb;
    -moz-box-shadow: 0 0 7px #bbb;
    -webkit-box-shadow: 0 0 7px #bbb;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.atm_comment_thread_show h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #a0a0a0;
}
.atm_comment_comment_show {
    color: #555;
    float: left;
    width: 100%;
    position: relative;
    text-align: left;
    padding-left: 52px;
    margin: 10px 0;
}

.atm_comment_comment_body, .atm_comment_comment_body p {
    line-height: 1.5em;
    float: left;
    width: 100%;
    word-wrap: break-word;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    padding:0;
}
.atm_comment_comment_body.editing{width:100%;background:none;border:0;padding:0}
.atm_comment_comments .atm_comment_comments {
    margin-left: 2em;
}
.atm_comment_comment_date_reply {
    text-align: left;
    float: left;
    width: 100%;
    margin-top: 5px;
    display: inline-block;
}
.atm_comment_replying{float:none;display:block}
.atm_comment_comment_reply.replying {
    text-align: left;
    margin-top: 1em;
    padding: 1em 20px;
    background: #d6d6d6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.atm_comment_comment_reply_show_form{
    padding: 0;
    color: #2196f3;
    cursor: pointer;
    font-size: 13px;
    vertical-align: top;
    line-height: 1.4em;
}
.atm_comment_comment_reply_show_form:hover{cursor:pointer;text-decoration:underline}

.atm_comment_comment_reply.atm_comment_replying button.atm_comment_comment_reply_show_form {
    display: none;
}
.atm_comment_thread_comments {
    margin-bottom: 1.5em;
}
.atm_comment_reply_prototype {
    display: none;
}
.atm_comment_thread_show > form.atm_comment_comment_form {
    margin-bottom: 1em;
}
form.atm_comment_comment_form.processing {
    opacity: 0.5;
}
form.atm_comment_comment_form label.author_name {
    margin-top: 3px;
    float:left;
}
form.atm_comment_comment_form label.author_name input {
    padding: 2px 5px;
}
form.atm_comment_comment_form textarea {
    width: 100%;
    height: 6em;
    padding: 10px 10px 30px 10px;
    resize:vertical;
    float: left;
    display: inline-block;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    margin-bottom: 20px;
    min-height: 100px;
}
form.atm_comment_comment_form.error textarea {
    border-color: red;
}
.atm_comment_form_errors {
    color: #ff0000;
}
.atm_comment_submit {
    text-align: center;
    float: left;
    display: inline-block;

}
.atm_comment_submit input, .atm_comment_submit button {
    font-size: 1.2em;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
    float: left;
}

.atm_comment_submit input { background-color: #2196f3; color: #fff;}
.atm_comment_submit button{ background-color: #d2d7dc; color: #555; margin-left: 10px;}

.atm_comment_submit input:hover{
    background-color: #1e75b9;
}


a.atm_comment_thread_feed {
    width: 16px;
    height: 16px;
    display: block;
    float: right;
}
.atm_comment_comment_voting {
    float: right;
}
.atm_comment_comment_score {
    display: inline-block;
}
.atm_comment_comment_metas{
    float: left;width: auto;text-align: left;display: inline-block;padding: 0;margin-right: 10px;line-height: 1.5em;
}

.atm_comment_comment_metas a.user{font-family:LatoBlack, Arial, sans-serif;cursor: pointer; float: left; display: inline-block}
.atm_comment_comment_metas a.user:hover span{cursor: pointer;text-decoration: underline; float: left; display: inline-block}
.topright{position:absolute;top:0;right:0;font-size: 17px;cursor: pointer;}
.atm_comment_comment_edit_show_form{right: 20px;}
.atm_comment_comment_date{display:inline-block;float:left;width:auto;line-height: 1.6em;padding:0;margin:0;vertical-align:top;color: #999;font-size: 13px; margin-right: 10px }
.atm_comment_comment_remove.undelete {background:#e2e2e2;padding:5px;border-radius:5px;position:absolute;top:0;right:0;cursor:pointer}

.atm_comment_comment_replies{float:left;width:100%;/* padding-left: 20px; */}
.atm_comment_comment_replies .comments{border-left: 3px solid #e2e2e2;float: left;padding: 0 0 0 10px;width: 100%;}
.atm_comment_submit .atm_comment_comment_reply_cancel{background:#e2e2e2;border-radius: 7px;border-bottom: 1px solid rgba(0, 0, 0, 0.39);margin: 0 0 10px 15px}
.atm_comment_comment_body.editing .atm_comment_submit .edit_cancel {padding: 3px 12px;margin:0 0 0 5px;font-size: 1em;padding: 5px 12px;margin: 3px 3px 13px 8px;font-family: Lato, Arial, sans-serif;cursor: pointer;background: #e2e2e2;border-radius: 7px;border-bottom: 1px solid rgba(0, 0, 0, 0.42);}
.userPic{border-radius:1000px;overflow:hidden;width: 45px;height: 45px;float:left;position: absolute;top: 0;left: 0;}
.userPic img{width:100%}
.userPic img{width:100%}


