<div id="atm_comment_thread" atm-thread-id="{{ id }}" atm-page="1" atm-max-results="{{ max_results ? max_results : 1000 }}"></div>
{% if showLoadMore %}
    <button id="atm_comment_load_more">Load More</button>
{% endif %}

<script type="text/javascript">
    // thread id
    var atm_comment_thread_id = '{{ id }}';

    {% if container_id is defined %}
        var atm_comment_thread_container = $('#{{ id }}');
    {% endif %}
    // api base url to use for initial requests
    var atm_comment_thread_url = '{{ path('atm_comment_get_thread',{'threadId': id, 'max_results': max_results ? max_results : 1000 }) }}';

    var atm_comment_callbacks = {
        'onBeforeFormSubmit' :   function(mainContainer){},
        'onAfterFormSubmit':     function(mainContainer){},
        'onBeforeShowReplyForm': function(mainContainer,formContainer){},
        'onAfterShowReplyForm':  function(mainContainer,formContainer){},
        'onBeforeGetComments':   function(mainContainer){},
        'onAfterGetComments' :   function(mainContainer){mainContainer.find('.atm_comment_bundle_body').atm_emojis();},
        'onBeforeDeleteComment': function(mainContainer,deleteButton){},
        'onAfterDeleteComment': function(mainContainer,deleteButton,response){}
    };

    {% if showLoadMore %}
    $('#atm_comment_load_more').click(function(){
        var commentsContainer = $('#atm_comment_thread');
        var threadId = '{{ id }}';
        var page = parseInt(commentsContainer.attr('atm-page')) + 1;
        var max_results =  commentsContainer.attr('atm-max-results');

        $.ajax({
            url: Routing.generate('atm_comment_thread_load_more',{ 'threadId':threadId, 'max_results': max_results,'page':page }),
            type: 'post',
            success: function(data){
                $('#atm_comment_container').append(data);
                commentsContainer.attr('atm-page',page);
            }
        });

    });
    {% endif %}

    // Snippet for asynchronously loading the comments
    (function() {
        var atm_comment_script = document.createElement('script');
        atm_comment_script.async = true;
        atm_comment_script.src = '{{ asset('bundles/atmcomment/js/comments.js') }}';
        atm_comment_script.type = 'text/javascript';

        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(atm_comment_script);
    })();
</script>