{% if comment.comment is defined %}
    {% set children = comment.children %}
    {% set mainComment = comment.comment %}
{% else %}
    {% set children = [] %}
    {% set mainComment = comment %}
{% endif %}
<div id="atm_comment_{{ mainComment.id }}" class="atm_comment_comment_show atm_comment_comment_depth_{{ depth }}" {% if parent is defined and parent is not null %}data-parent="{{ parent.id }}"{% endif %}>
    <div class="atm_comment_comment_metas">
        <a class="user">
            <span class="atm_comment_comment_authorname">
                {{ mainComment.author.username }}
            </span>
        </a>
    </div>
    <div id="atm_comment_comment_body_{{ mainComment.id }}" class="atm_comment_comment_body">
        {% block atm_comment_comment_body %}
            {{ mainComment.body | raw | nl2br }}
        {% endblock atm_comment_comment_body %}
    </div>
    <div class="atm_comment_comment_date"> {{ mainComment.createdAt|date }}</div>
    <div class="atm_comment_comment_replies">
        {% for childComment in children %}
            {% include 'ATMCommentBundle:Thread:comment.html.twig' with { 'comment': childComment } %}
        {% endfor %}
    </div>

    {% if mainComment.ancestors %}
        {% if mainComment.ancestors is iterable %}
            {% set totalAncestors = mainComment.ancestors | length %}
        {% else %}
            {% if '/' in mainComment.ancestors %}
                {% set totalAncestors = mainComment.ancestors | split('/') | length %}
            {% else %}
                {% set totalAncestors = 1 %}
            {% endif %}
        {% endif %}

    {% else %}
        {% set totalAncestors = 0 %}
    {% endif %}

    {% if totalAncestors < depth %}
    <div class="atm_comment_comment_reply">
        <button data-atm-url="{{ url('atm_comment_reply_form', {"threadId": mainComment.thread.id}) }}" data-name="{{ mainComment.author.username }}" data-parent-id="{{ mainComment.id }}" class="atm_comment_comment_reply_show_form">· Reply</button>
        <button data-atm-url="{{ url('atm_comment_delete_comment',{"commentId":mainComment.id}) }}" data-atm-mainparent-id="#atm_comment_{{ mainComment.id }}" class="atm_comment_delete_comment">Delete</button>
    </div>
    {% endif %}
</div>