<style>
    .atm_comment_div_body{width: 100%;border: 1px solid #cecece;min-height: 150px;margin-bottom: 20px;padding: 5px;text-align: left;display:inline-block !important;}
    [contenteditable=true]:empty:before{content: attr(placeholder) !important;pointer-events: none;display: block;}
</style>
{% set uniqueId = 'now' | date('dmYHis') %}
<form action="{{ path('atm_comment_new_comment',{'threadId':threadId}) }}" method="post" class="atm_comment_comment_form" data-atm-parent-comment-id="{{ parentCommentId }}">

    {% block atm_comment_form_field %}
        <div class="atm_comment_div_body" id="atm_comment_div_body_{{ uniqueId }}" contenteditable="true" placeholder="Leave a comment here ..."></div>
        {{ form_widget(form.body,{ 'attr':{ 'style':'display:none','class':'atm_comment_ta_body_'~uniqueId} }) }}
        {{ form_rest(form) }}
    {% endblock  %}

    <div class="atm_comment_submit">
        {% block atm_comment_form_submit %}
            <input type="submit" value="Post Comment" id="sbComment_{{ uniqueId }}"/>
            {% if parentCommentId is not null %}
                <button class="atm_close_form">Cancel</button>
            {% endif %}
        {% endblock %}
    </div>
</form>

<script>
    var divBody = $('#atm_comment_div_body_{{ uniqueId }}');

    $('div[contenteditable=true]').keydown(function(e){
        if (e.keyCode === 13) {
            e.preventDefault();
            document.execCommand('insertHTML', false, '<br>');
        }
    });
    $('div[contenteditable=true]').keyup(function(e){
        e.preventDefault();
    });

    $('#sbComment_{{ uniqueId }}').click(function(){
        var body = divBody.html();

        if(body !='' && body != '<br>'){
            $('.atm_comment_ta_body_{{ uniqueId }}').val(body);
            divBody.html('');
        }
    });
</script>