<div class="atm_main_form_container">
    {{ render(controller('ATMCommentBundle:Thread:newCommentForm')) }}
</div>
<div class="atm_comment_container">
    {% include 'ATMCommentBundle:Thread:comments.html.twig' with {'comments':comments, 'depth':depth} %}
</div>